{% extends 'base.html' %}
{% block title %}
Crear Corpus
{% endblock %}
{% block js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock %}
{% block content %}
    <h1>Ingrese el dominio deseado</h1>
    <form id="miFormulario" method="post">
        {% csrf_token %}
        <select class="dominio" name="dominio"></select>
        <b>Filtro</b>
        <select class="filter" name="filter" id="filter">
            <option value="0">URI (_)</option>
            <option value="1">Tag ( )</option>
        </select>
        <br>
        <br>
        <select style="margin-top: 20px;" class="subdominios" name="subdominios" multiple="multiple">
            <option></option>
        </select>
        <input type="hidden" name="contador" id="contador" value="0">
        <input type="hidden" name="valores_seleccionados" id="valores_seleccionados">
        <div>
            <input style="margin-top: 20px;" type="button" id="masSubdominios" value="Obtener más subdominios">
            <input type="submit" id="enviarTodo" value="Enviar">
        </div>
    </form>
    <p id="resultado"></p>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function () {
        $('.filter').select2({
            width: '10%',
        });
        
        var valoresSeleccionados = [];
        
        $('.dominio').select2({
            closeOnSelect: true,
            placeholder: 'Ingrese un dominio',
            width: "80%",
            sorter: data => data.sort((a, b) => a.text.localeCompare(b.text)),
            ajax: {
                url: "{% url 'domain:domains' %}",
                delay: 1000,
                data: function (params) {
                    debugger
                    return {
                        'term': params.term,
                        'tipo': $("#filter").val(),
                    };
                },
                processResults: function (data) {
                    var options = [];
                    $.each(data.results, function (index, item) {
                        options.push({
                            id: item.id,
                            text: item.text
                        });
                    });
                    return {
                        results: options
                    };
                }

            }
        });

        $('.dominio').on('change', function (e) {
            var selectedValue = $(this).val();
            console.log("Valor seleccionado:", selectedValue); // Imprimir el valor seleccionado
            var params = {
                selectedValue: selectedValue,
            };
            $.ajax({
                url: '{% url "domain:subdomains" %}',
                data: params,       
                success: function (response) {
                    debugger
                    var select = $('.subdominios');
                    select.empty();
                    var data = JSON.parse(response);

                    // Iterar sobre el objeto data
                    $.each(data, function (index, value) {
                        select.append($('<option></option>').val(value).text(value));
                    });
                    // Establecer los valores seleccionados en función de los valores devueltos por el view
                    select.val(data);
                    select.trigger('change');
                }
            });
        
        });
        
        $('#masSubdominios').click(function (event) {
            event.preventDefault();
            var select = $('.subdominios');
            var nuevosValoresSeleccionados = select.val();
            valoresSeleccionados = valoresSeleccionados.concat(nuevosValoresSeleccionados);
            $('#valores_seleccionados').val(JSON.stringify(valoresSeleccionados));
            var selectedValue = $(".subdominios").val();
            debugger
            console.log("Valor seleccionado:", selectedValue); // Imprimir el valor seleccionado
            var params = {
                selectedValue: selectedValue,
                level: "1",
            };
            $.ajax({
                url: '{% url "domain:subdomains" %}',
                data: params,                 
                success: function (response) {
                    var select = $('.subdominios');
                    select.empty();
                    var data = JSON.parse(response);
                    // Iterar sobre el objeto data
                    $.each(data, function (index, value) {
                        select.append($('<option></option>').val(value).text(value));
                    });
                    // Establecer los valores seleccionados en función de los valores devueltos por el view
                    select.val(data);
                    select.trigger('change');
                }
            });
        });

        $('#miFormulario').submit(function (event) {
            event.preventDefault();  // Evitar el envío normal del formulario
            var select = $('.subdominios');
            var nuevosValoresSeleccionados = select.val();
            // Agregar los nuevos valores seleccionados al array
            valoresSeleccionados = valoresSeleccionados.concat(nuevosValoresSeleccionados);
            // Almacenar los valores seleccionados en el campo oculto
            $('#valores_seleccionados').val(JSON.stringify(valoresSeleccionados));
            $(this).unbind('submit').submit();
        });

        $('.subdominios').select2({
            closeOnSelect: false,
            placeholder: 'Seleccione los subdominios',
            width: "80%",
            sorter: data => data.sort((a, b) => a.text.localeCompare(b.text)),
        });

        $('#masSubdominios').click(function () {
            var contador = $('#contador');
            contador.val(parseInt(contador.val()) + 1);
        });
    });
</script>
{% endblock %}